.idea/**
src/inference/.idea
src/webui/.idea
src/webui/ui/static/node_modules
infra/scylladb/.idea
src/webui/ui/static/node_modules
**/__pycache__/
src/inference/poetry.lock
src/webui/poetry.lock
src/inference/assets/finetunning_1/**
src/inference/assets/finetunning_2/**
src/inference/assets/finetunning_3/**
src/inference/assets/finetunning_4/**
src/inference/assets/finetunning_5/**
infra/arangodb/migration/.idea/**
notebooks/.idea/**

