{% extends "base.html" %}
{% block content %}

<div class="flex">
  <div class="flex-none w-1/3  ">
  </div>
  <div class="grow  w-full ">
   <div class=" relative flex flex-col justify-center  overflow-hidden">
    <div class="   rounded-md lg:max-w-xl">
        <h1 class="text-amber-500 block  text-sm font-bold mb-2  text-center  ">Predict category</h1>
        <form class="  ">
            <div class="mb-4 pt-3">
                <label class="block  text-sm font-bold mb-2" for="name">
                    Name
                </label>
                <input class=" appearance-none border rounded w-full py-1 px-1  leading-tight focus:outline-none focus:-outline "
                       id="name" type="text" placeholder="">
            </div>
            <div class="pt-3">
                <label class="block  text-sm font-bold mb-2" for="description">
                    Description
                </label>
                <textarea
                        class=" appearance-none border rounded w-full py-1 px-1  mb-3 leading-tight focus:outline-none focus:-outline "
                        id="description" placeholder=""></textarea>
            </div>
            <div class=" pt-3">
                <label class="block  text-sm font-bold mb-2" for="type">
                    Type
                </label>
                <select class=" border rounded w-full py-1 px-1  mb-3 leading-tight focus:outline-none focus:-outline "
                        id="type">
                    <option value="tipo1">Tipo 1</option>
                    <option value="tipo2">Tipo 2</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            <div class="flex flex-row items-center justify-end p-3">
                <ul class="menu menu-horizontal bg-base-200 p-1">
  <li class="btn btn-neutral "><a>Clean</a></li>
  <li class="btn btn-accent "><a>Predict</a></li>
</ul>

            </div>
        </form>
    </div>
  </div>


</div>

    <footer class="footer items-center p-4 bg-neutral text-neutral-content align-middle absolute bottom-0">
  <aside class="items-center grid-flow-col">
    <svg width="36" height="36" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" class="fill-current"><path d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z"></path></svg>
    <p>Final project team 5. AnyoneAI</p>
  </aside>

</footer>



</div>

<script>
    function limpiarFormulario() {
        document.getElementById('nombre').value = '';
        document.getElementById('descripcion').value = '';
        document.getElementById('tipo').selectedIndex = 0;
    }
</script>
{% endblock content %}
